@using ObjectManagementSystem.Models.Entity;
@model List<ACTION_TABLE>
@{
    ViewBag.Title = "LoanedItems";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>Loaned Items</h2>
<!--Kullanici odunc alinan objeler tablosu baslangic-->
<table class="table table-striped;" style="position: center; background-color: lightgray; table-layout: auto;">
    <tr>
        <th>Item Id</th>
        <th>Item Name</th>
        <th>Item Detail</th>
        <th>Item Borrow Date</th>
        <th>Item Return Date</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @if (item.MEMBER_TABLE.USERNAME == ViewBag.ID)
            {
                <td>@item.OBJECT_TABLE.ID</td>
                <td>@item.OBJECT_TABLE.NAME</td>
                <td id="tableDataOverFlow">@item.OBJECT_TABLE.DETAIL</td>
                <td>@Convert.ToDateTime(item.BORROWDATE).ToString("dd/MM/yyyy")</td>
                <td>@Convert.ToDateTime(item.RETURNDATE).ToString("dd/MM/yyyy")</td>
            }

        </tr>
    }
</table>
<!--Kullanici odunc alinan objeler tablosu bitis-->
