@model ObjectManagementSystem.Models.Entity.OBJECT_TABLE
@{
    ViewBag.Title = "GetObject";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<head>
    <title>Update Object</title>
</head>
<h4></h4>
<a class="btn btn-info" style="margin-bottom:10px" href="/Object/Index"><i class="glyphicon glyphicon-menu-left"></i>Back</a>
<!--Obje guncelleme formu baslangic-->
@using (Html.BeginForm("UpdateObject", "Object", FormMethod.Post))
{
    <div class="form-group">
        <label>ID</label>
        @Html.TextBoxFor(item => item.ID, new { @class = "form-control", @readonly = "readonly" })
        <br />
        <label>Object Name</label>
        @Html.TextBoxFor(item => item.NAME, new { @class = "form-control", @required = "required", @maxlength = "30", @placeholder = "Name", @onchange = "this.value = trim(this.value)" })
        <br />
        <label>Category</label>
        @Html.DropDownListFor(category => category.CATEGORY_TABLE.ID, (List<SelectListItem>)ViewBag.categoryItem, new { @class = "form-control" })
        <br />
        <label>Object Image Link</label>
        @Html.TextBoxFor(item => item.OBJECTIMAGE, new { @class = "form-control", @maxlength = "250", @placeholder = "Link", @onchange = "this.value = trim(this.value)" })
        <br />
        <label>Detail</label>
        @Html.TextAreaFor(item => item.DETAIL, new { @class = "form-control", @required = "required", @maxlength = "500", @placeholder = "Detail", @id = "myTextArea", @onchange = "this.value = trim(this.value)" })
    </div>
    <div>
        <button id="defaultBtn" style="background-color:darkseagreen; color:black; margin-top:15px" class="btn btn-info">Update</button>
    </div>
}
<!--Obje guncelleme formu bitis-->
