@using ObjectManagementSystem.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<MEMBER_TABLE>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<head>
    <title>Members</title>
</head>
<a class="btn btn-warning" style="color:black;float:left;margin-top:15px" href="/Member/GetExcelFile">Export table to Excel</a>
<!--Uyeler icin arama cubugu baslangic-->
@using (Html.BeginForm("Index", "Member", FormMethod.Get))
{
    <div class="container">
        <div style="margin-top:15px; margin-bottom:15px; margin:auto; margin-top:15px; width:50%">
            @Html.TextBox("search", "", new { @class = "form-control", @style = "width:60%;float:left", @placeholder = "Search member name or ID...", @id = "searchInput", @maxlength = "30" })
            <input class="btn btn-success" style="margin-left:15px; width:20%" type="submit" value="Search">
            <button class="btn btn-info" style="margin-left:7px" onclick="ClearFields();"><i class="glyphicon glyphicon-refresh"></i></button>
        </div>
    </div>
}
<!--Uyeler icin arama cubugu bitis-->
<!--Uyeler tablosu baslangic-->
<div>
    <h2 id="tableTitle" style="background-color: lightyellow;">Members</h2>
</div>
<table class="table table-striped" style="position: center; background-color: lightgray; table-layout: auto; margin-bottom: -5px" id="table2excel">
    <tr style="background-color:greenyellow;">
        <th>Member Id</th>
        <th>Member Name</th>
        <th>Member Surname</th>
        <th>Email</th>
        <th>Username</th>
        <th>Password</th>
        <th>Phone Number</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>

    @foreach (var member in Model)
    {
        int x = 0;
        <tr>
            <td>@member.ID</td>
            <td id="tableDataOverFlow">@member.NAME</td>
            <td id="tableDataOverFlow">@member.SURNAME</td>
            <td id="tableDataOverFlow">@member.EMAIL</td>
            <td id="tableDataOverFlow">@member.USERNAME</td>
            <td id="tableDataOverFlow">@member.PASSWORD</td>
            <td>@member.TELNUMBER</td>


            @foreach (var actionObj in member.ACTION_TABLE.ToList())
            {
                if (actionObj.MEMBER == member.ID)
                {
                    <td><a href="/Member/Index" class="btn btn-danger " style="background-color:darkred" onclick="return alert('The member cannot be deleted without returning all objects.')">Delete</a></td>
                    x = 1;
                    break;
                }
            }
            @if (x == 0)
            {
                <td><a href="/Member/DeleteMember/@member.ID" class="btn btn-danger" onclick="return confirm(' Are you sure you want to delete Member:\n @member.NAME @member.SURNAME')" style="background-color:darkred">Delete</a></td>
            }
            <td><a href="/Member/GetMember/@member.ID" class="btn btn-info" style="background-color:darkseagreen;color:black">Update</a></td>
        </tr>
    }
</table>
<!--Uyeler tablosu bitis-->
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
<a style="margin-bottom:15px;float:left" href="/Member/AddMember/" class="btn btn-primary">Add New Member</a>
@if (Model.Count() == 0)
{
    <div class="alert alert-danger" role="alert" style="width:50%;text-align:center;margin:auto">
        <b>No Members found.</b>
    </div>
}





